* {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  border:0;
}

body {
  background-color: rgb(255, 223, 119);
  color:#ccc;
  font-family: Arial, sans-serif;
  margin:10px 20px;
  width: 95%;
}

header {
  font-family: 'Encode Sans', sans-serif;
  color: black;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid black;
}

header h1 {
  font-weight: 900;
  margin-bottom: 0.25em;
}

header h3 {
  margin-bottom: 0.5em;
}

header p {
  font-size: 0.8em;
  margin-bottom: 0.25em;
}

header a, a:visited, a:active {
  color: gray;
}

#menu {
  width: 100%;
  margin-bottom: 0.5em;
}

#menulist {
  display: block;
  overflow: auto;
}

#main {
  clear: both;
  width: 585px;
  z-index: 100;
}

.menuitem {
  display: block;
  float: left;
  padding: 2px 10px;
  background-color: #aaa;
  color: #000;
  cursor: pointer;
  margin-right: 5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-radius: 4px;
  text-shadow: 1px 1px 0px #ccc;
  font-size: 0.8em;
}

.smallbutton {
  width:1.5em;
  padding: 2px 0;
  text-align: center;
}

.menuseparator {
  display: block;
  float: left;
  width: 0px;
  height:16px;
  margin: 2px 7px 0 2px;
  border-left: 1px solid rgb(196, 177, 115);
  border-right: 1px dotted rgb(156, 145, 93);
}

.menubr {
  clear: left;
  display: block;
  float: left;
  width: 0px;
  height: auto;
  padding-top:10px;
}

.grid-stack { background: #bdb463; 
border: 1px solid #bdb463;  
}

.grid-stack-item {}

<<<<<<< HEAD
.grid-stack-item-content { 
  overflow: hidden !important;
  position: relative;
}

svg { 
  pointer-events: none;
  width: 100%;
  height: 100%;
}

=======

.grid-stack-item { 
  overflow: hidden;
}

.grid-stack-item-content { 
  overflow: hidden !important;
}

svg { 
  pointer-events: none;
  overflow: hidden;
}


>>>>>>> ab516cab92810e80239c45101fb670ef53e4f098
.grid-stack-item:hover { 
  opacity: 0.8;
}

<<<<<<< HEAD
#colorpicker {
  position: absolute;
  left: 470px;
  top:34px;
  z-index: 1000;
  border: #6e6c53 1px solid;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #333;
  background: #cec576;
  padding: 8px;
  overflow: auto;
  display: none;
}

=======
#canvasbox>div>svg { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#colorpicker {
  position: absolute;
  left: 470px;
  top:34px;
  z-index: 1000;
  border: #6e6c53 1px solid;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #333;
  background: #cec576;
  padding: 8px;
  overflow: auto;
  display: none;
}

>>>>>>> ab516cab92810e80239c45101fb670ef53e4f098
div.paintblock:nth-child(6n+1) {
  clear: left;
}

.paintblock {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 -1px -1px 0;
  border: #000 1px solid;
  cursor:url(eyedropper.png) 0 15, auto;
  overflow: auto;
}

#colorpicker > hr {
  float: left;
  clear: both;
  margin: 9px 0 8px 0;
  height: 1px;
  background-color:rgb(175, 161, 96);
  width: 100%;
}